@{
    ViewBag.Title = "Top Producer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .width
    {
        width:120px;
    }
    select,input[type="date"],input[type="text"]
    {
        font-size:12px;
    }
    
</style>

<div class="filtering">
    
</div>

<div class="panel panel-info topmar-10">
    <div class="panel-heading">
       @Html.ActionLink("Dashboard", "Index", "Home") |
    @Html.DropDownList("acttype", new SelectList((ViewBag.acttype) as SelectList, "Value", "Text"), "Account Type")
    @Html.DropDownList("branch", new SelectList((ViewBag.branch) as SelectList, "Value", "Text"), "Branch")
    @Html.DropDownList("Country", new SelectList((ViewBag.Country) as SelectList, "Value", "Text"), "Country")
    @Html.DropDownList("city", new SelectList((ViewBag.city) as SelectList, "Value", "Text"), "City")
    Event From: <input type="date" id="dateFrom" class="width" />
    To: <input type="date" id="dateTo" class="width" />
    <input type="button" id="filter" value="Filter" />
    <input type="button" id="clear" value="Refresh" />
    </div>
    <div class="panel-body">
        <div id="table"></div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        
        $('#table').jtable({
            title: 'Top Producer',
            paging: true,
            pagesize: 3,
            actions: {
                listAction: '@Url.Action("List")',
            },
            fields: {
                Id: {
                    title: 'Id',
                    width:'2%',
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                AccountName: {
                    title: 'AccountName',
                    width: '20%'
                },
                Country: {
                    title: 'Country',
                    width: '5%'
                },
                City: {
                    title: 'City',
                    width: '5%'
                },
                ContractValue: {
                    title: 'ContractValue',
                    width: '10%',
                    display: function (data) {
                        return '<div style="float:left">' + addCommas(data.record.ContractValue.toFixed(2)) + '</div>'
                    }
                },
                ContractCost: {
                    title: 'ContractCost',
                    width: '10%',
                    display: function (data) {
                        return '<div style="float:left">' + addCommas(data.record.ContractCost.toFixed(2)) + '</div>'
                    }
                },
                Margin: {
                    title: 'Margin',
                    width: '10%',
                    display: function (data) {
                        return '<div style="float:left">' + addCommas(data.record.Margin.toFixed(2)) + '</div>'
                    }
                },
                MarginP: {
                    title: 'Margin%',
                    width: '5%',
                    display: function (data) {
                        return '<div style="float:left">' + addCommas(data.record.MarginP.toFixed(2)) + '</div>'
                    }
                },
                TotalFiles: {
                    title: 'TotalFiles',
                    width: '5%',
                    display: function (data) {
                        return '<div style="float:left">' + data.record.TotalFiles + '</div>'
                    }
                },
                TotalPax: {
                    title: 'TotalPax',
                    width: '5%',
                    display: function (data) {
                        return '<div style="float:left">' + data.record.TotalPax + '</div>'
                    }

                },
                Files: {
                    title: '',
                    width: '0.5%',
                    sorting: false,
                    create: false,
                    edit: false,
                    listClass: 'child-opener-image-column',
                    display: function (data) {
                        var dateFrom = $("#dateFrom").val();
                        var dateTo = $("#dateTo").val();
                        var branch = $("#branch").val();
                        var $img = $('<img title="Files" class="child-opener-image" src="Content/Images/file.png" width=20 />');
                        $img.click(function () {
                            $('#table').jtable('openChildTable', $img.closest('tr'),
                            {
                                title: data.record.AccountName + " - Files",
                                paging: true,
                                pagesize: 3,
                                actions: {
                                    listAction: '@Url.Action("FileList")?id=' + data.record.AccountId +'&branch=' + branch + '&dateFrom='+dateFrom + '&dateTo='+dateTo,
                                },
                                fields: {
                                    Id: {
                                        title: 'Id',
                                        width: '1%',
                                        key: true,
                                        create: false,
                                        edit: false,
                                        list: false
                                    },
                                    Branch: {
                                        title: 'Branch',
                                        width: '1%',
                                        display: function (b) {
                                            return b.record.Branch.Name;
                                        }
                                    },
                                    FileHandler: {
                                        title: 'File Handler',
                                        width: '1%',
                                        display: function (b) {
                                            return b.record.FileHandler.EmpName;
                                        }
                                    },
                                    Nature: {
                                        title: 'Nature',
                                        width: '1%',
                                        display: function (b) {
                                            return b.record.Nature.Name;
                                        }
                                    },
                                    ClientName: {
                                        title: 'Client',
                                        width: '1%',
                                        display: function (b) {
                                            return b.record.ClientName.Name;
                                        }
                                    },
                                    RequestDate: {
                                        title: 'Request Date',
                                        type: 'date',
                                        width: '2%',
                                        create: false,
                                        edit: false,
                                        display: function (data) {
                                            return moment(data.record.RequestDate).format('DD-MMM-YYYY')
                                        },
                                    },
                                    FileNumber: {
                                        title: 'FileNumber',
                                        width: '1%'
                                    },
                                    ContactName: {
                                        title: 'ContactName',
                                        width: '2%',
                                    },
                                    CheckinDate: {
                                        title: 'Check In',
                                        type: 'date',
                                        width: '3%',
                                        display: function (data) {
                                            return moment(data.record.CheckinDate).format('DD-MMM-YYYY')
                                        },
                                    },
                                    CheckOutDate: {
                                        title: 'Check Out',
                                        type: 'date',
                                        width: '3%',
                                        display: function (data) {
                                            return moment(data.record.CheckOutDate).format('DD-MMM-YYYY')
                                        },
                                    },
                                    StatusId: {
                                        title: 'Status',
                                        width: '2%',
                                        options: '@Url.Action("GetStatusOptions","EnquiryStatus")',
                                        display: function (data) {
                                            if (data.record.StatusId == 1)
                                                return "<div class='proposal'>" + "PROPOSAL STAGE" + "</div>";
                                            if (data.record.StatusId == 2)
                                                return "<div class='active'>" + 'ACTIVE' + "</div>";
                                            if (data.record.StatusId == 3)
                                                return "<div class='active'>" + 'POTENTIAL' + "</div>";
                                            if (data.record.StatusId == 4)
                                                return "<div class='confirmed'>" + 'CONFIRMED' + "</div>";
                                            if (data.record.StatusId == 5)
                                                return "<div class='confirmed'>" + 'CONTRACTED' + "</div>";
                                            if (data.record.StatusId == 6)
                                                return "<div class='confirmed'>" + 'OPERATED' + "</div>";
                                            if (data.record.StatusId == 7)
                                                return "<div class='confirmed'>" + 'CLOSED' + "</div>";
                                            if (data.record.StatusId == 8)
                                                return "<div class='cancelled'>" + 'INACTIVE' + "</div>";
                                            if (data.record.StatusId == 9)
                                                return "<div class='cancelled'>" + 'CANCELLED' + "</div>";
                                        }
                                    },
                                    EventName: {
                                        title: 'EventName',
                                        width: '2%',
                                    },
                                    PaxNo: {
                                        title: 'No of Pax',
                                        width: '2%',
                                    },
                                    ContractValue: {
                                        title: 'Contract Value',
                                        width: '2%',
                                        display: function (data) {
                                            return '<div style="text-align:right">' + data.record.ContractValue.toFixed(2) + '</div>';
                                        }
                                    },
                                    ContractCost: {
                                        title: 'Contract Costs',
                                        width: '2%',
                                        display: function (data) {
                                            return '<div style="text-align:right">' + data.record.ContractCost.toFixed(2) + '</div>';
                                        }
                                    },
                                    Margin: {
                                        title: 'Margin',
                                        width: '0.5%',
                                        create: false,
                                        edit: false,
                                        display: function (data) {
                                            return '<div style="text-align:right">' + data.record.Margin.toFixed(2) + '</div>';
                                        }
                                    },
                                    MarginP: {
                                        title: 'Margin%',
                                        width: '1%',
                                        create: false,
                                        edit: false,
                                        display: function (data) {
                                            return '<div style="text-align:right">' + data.record.MarginP.toFixed(2) + '</div>';
                                        }
                                    },
                                    Remarks: {
                                        title: 'Remarks',
                                        width: '2%',
                                        type: 'textarea',
                                        list: false
                                    },

                                },
                                toolbar: {
                                    items: [{
                                        icon: '/Content/Images/excel.png',
                                        text: 'Export To Excel',
                                        click: function () {
                                            var r = confirm("Do you want to export?");
                                            if (r == true) {
                                                var url = "TopProducer/ExportFiles";
                                                window.open(url);
                                            }
                                        }
                                    }]
                                },

                            }, function (data) {
                                data.childTable.jtable('load');
                            });
                        });
                        return $img;
                    }
                  },
                
            },
            toolbar: {
                items: [{
                    icon: '/Content/Images/excel.png',
                    text: 'Export To Excel',
                    click: function () {
                        var r = confirm("Do you want to export?");
                        if (r == true) {
                            var url = "TopProducer/ExportTopProducer";
                            window.open(url);
                        }
                           
                    }
                }]
            },
        });
        $('#table').jtable('load');

        $("#filter").click(function (e) {
            e.preventDefault();
            $('#table').jtable('load', {
                acttype: $("#acttype").val(), city: $("#city").val(), country: $("#Country").val(), branch: $("#branch").val(), datefrom: $("#dateFrom").val(), dateTo: $("#dateTo").val()
            });
        });

        $("#clear").click(function (e) {
            $("#dateFrom").val('');
            $("#dateTo").val('');
            $("#city").val(0);
            $("#Country").val(0);
            $("#branch").val(0);
            $("#acttype").val(0);
            e.preventDefault();
            $('#table').jtable('load');
        });
   
    });
</script>
